<div class="campaign-section">

  <div class="campaign-card">

    <div class="campaign-header">
      <h2>Discesa nell'Averno</h2>
    </div>

    <div class="campaign-content">

      <div class="campaign-text">
        <p class="intro">
          Non c’è eroe senza colpa, né inferno senza memoria.
        </p>

        <p>
          Baldur’s Gate è sull’orlo del caos, logorata da vizi e ambizione.
          Le voci parlano di Elturel, la città perduta, trascinata giù in un lampo
          di luce rovesciata. Le autorità negano, i chierici tacciono,
          e il popolo trema.
        </p>

        <p>
          Ma la verità è più terribile di quanto chiunque osi ammettere:
          l’Averno ha aperto le sue porte, e presto le fiamme lambiranno
          anche la superficie.
        </p>

        <p class="final">
          La discesa è cominciata… Benvenuti all’Inferno.
        </p>

        <p class="final">
          <a [routerLink]="['/campagne', 'discesa-averno']"
             (click)="test()"
             class="chronicles-button">
            Vai alle cronache
          </a>
        </p>
      </div>

      <div class="campaign-party">
        <img src="/assets/avernus-party.jpg" alt="Party Discesa nell'Averno">
      </div>

    </div>

    <div class="campaign-footer">
      Master:
      <a routerLink="/masters/ikaros">&#64;Ikaros</a>
    </div>

  </div>

</div>
