<section class="alleati-section">

  <h2 class="section-title">
    Alleati e PNG incontrati della campagna
  </h2>

  <app-aeren></app-aeren>
  <app-fernand-reglisse></app-fernand-reglisse>
  <app-bromas-rultild></app-bromas-rultild>
  <app-gullivan-ardic></app-gullivan-ardic>
  <app-lian-pei></app-lian-pei>
  <app-alyssa-tokker></app-alyssa-tokker>
  <app-darsus-bell></app-darsus-bell>
  <app-nue-hillstar></app-nue-hillstar>
  <app-mevil-dhirder></app-mevil-dhirder>
  <app-alan-alyth></app-alan-alyth>
  <app-kleyton></app-kleyton>

</section>
