<div class="personaggi-page-container">

  <h1 class="page-title">
    Personaggi – Le Cronache dell’Averno
  </h1>

  <section id="principali">
    <app-principali></app-principali>
  </section>

  <section id="alleati">
    <app-alleati></app-alleati>
  </section>

  <section id="secondari">
    <app-secondari></app-secondari>
  </section>

  <section id="minori">
    <!-- npc minori -->
    <app-minori></app-minori>
  </section>

<!--  <section id="ruoli">-->
<!--    &lt;!&ndash; ruoli narrativi &ndash;&gt;-->
<!--  </section>-->

</div>
